body{
    background-color:rgb(204, 204, 207);
    background-image: url('R\ \(1\).png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      padding: 90px 0;
      
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  label {
    flex: 0 0 30%;
    text-align: right;
    margin-right: 10px;
  }
  
  input,
  select {
    flex: 0 0 65%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button, input[type="submit"] {
    background-color: #060707; /* Replace with your desired color */
    color: #fff; /* Optionally, change the text color */
    border: none; /* Optionally, remove the border */
    padding: 10px 20px; /* Optionally, adjust the padding */
  }
  

  
  
  
  
